<!DOCTYPE html>
<html class="light">
	<head>
		<meta charset="utf-8" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div id="app"></div>
		<script type="text/javascript">
			window.PreactIntegrationLibraries = [<%= libraries.map(JSON.stringify).join(',') %>]
		</script>
	</body>
</html>
